@media screen and (max-width: 1100px) {
    .container{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    nav{
        height: 170px;
        width: 630px;
        }
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Shop_link a{
        
       font-size: 50px;
    }
    .cart_link{
        align-self: center;
    }
    .cart_link img{

        align-content: center; 
        height: 70px;
     }


     .item img{
        height: 400px;
    }
    
    .item .name{
        font-size: 40px;
    }
    
    .item .price{
        
        font-size: 40px;
    }
    
    .item .btn{
        background-color: transparent;
        border: 2px solid rgb(19, 19, 19);
        padding: 15px 30px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bolder;
     
    }





     .item1{
        width: 400px;
        height: 700px;
        display: flex;
        flex-direction: column;
     }
     .item1 img{
        height: 400px;
     }
     .name{
        font-size: 50px;
    }
    .price{
        font-size: 50px;
    }
    .number{
        height: 40px;
        width: 80px;
        font-size: 30px;
    }
    .negative{
        font-size: 30px;
        width: 40px;
    }
    .positive{
        font-size: 30px;
        width: 40px;
    }
    .CS{
        height: 80px;
        width: 300px;
        font-size: 25px;
        font-weight: bolder;
    }
}


@media screen and (max-width: 400px){
    nav{
        height: 170px;
        width: 430px;
        }
}
